.background-turqoise{
  background-color:#008d98 !important;
  color: #ecedeb;
  border-radius: 0 !important; 
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

.article-card{
  background-color: rgb(0, 175, 187);
  text-align: left;
  position: relative;
  margin-left: 4%;
  padding-left: 1%;
  padding-right: 1%;
  height: 60%;
  width: 28%;
  display: inline-block;
}

.title-section{
  color: #008d98;
  padding-left: 4%;
  text-align: left;
}

.filler{
  height:100%;
}

.wrapper{
  height: 800px;
}

